{% extends 'common/base.html' %}


 {% block head_css  %}
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="../../static/css/student/home.css"/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
 {% endblock %}

{% block nav_links %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
    </li>
{% endblock %}

{% block content %}

    <div class="pricing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="section-title text-center">
                            <h3>Our Pricing Plan</h3>
                            <p class="white-text">Duis aute irure dolor in reprehenderit in voluptate</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Standard</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$49<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li>40 GB Storage</li>
                                <li>40GB Transfer</li>
                                <li>10 Domains</li>
                                <li>20 Projects</li>
                                <li>Free installation</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Standard</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$49<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li>40 GB Storage</li>
                                <li>40GB Transfer</li>
                                <li>10 Domains</li>
                                <li>20 Projects</li>
                                <li>Free installation</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Standard</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$49<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li>40 GB Storage</li>
                                <li>40GB Transfer</li>
                                <li>10 Domains</li>
                                <li>20 Projects</li>
                                <li>Free installation</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Premium</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$49<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li>40 GB Storage</li>
                                <li>40GB Transfer</li>
                                <li>10 Domains</li>
                                <li>20 Projects</li>
                                <li>Free installation</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Professional</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$49<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li>40 GB Storage</li>
                                <li>40GB Transfer</li>
                                <li>10 Domains</li>
                                <li>20 Projects</li>
                                <li>Free installation</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>Premium</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value">$49<span>.00</span></div>
                            <div class="interval">per month</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li>40 GB Storage</li>
                                <li>40GB Transfer</li>
                                <li>10 Domains</li>
                                <li>20 Projects</li>
                                <li>Free installation</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Sign Up Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}