{% extends 'common/base.html' %}


 {% block head_css  %}
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="../../static/css/student/home.css"/>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
 {% endblock %}

{% block nav_links %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
    </li>
{% endblock %}

{% block content %}

    <div class="student-dash">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="section-title text-center">
                        <h3>{{ profile_first_name }}'s Dashboard</h3>
                    </div>

                </div>
            </div>
            <div class="row">

                {% for course in courses  %}

                       <div class="col-md-3">
                            <div class="student-dash-card">
                                <div class="course-code">
                                    <h3>{{ course.course__course_code }}</h3>
                                </div>

                                <div class="course-name">
                                    <ul>
                                        <li>{{ course.course__name }}</li>
                                    </ul>
                                </div>
                                <div class="course-score">

                                    <div class="score">{{ course.score }}</div>
                                    <div class="parameter">current score</div>
                                </div>
                                <div class="course-score">
                                    {% if course.grade %}
                                        <div class="score">{{ course.grade }}</div>
                                    {% else %}
                                        <div class="score">-</div>
                                    {% endif %}
                                    <div class="parameter">current grade</div>
                                </div>
{#                                <div class="course-stats">#}
{#                                    <ul>#}
{#                                        <li><li class= "line">Mean Score : </li> <li class= "line">{{ me }}</li></li>#}
{#                                        <li><li class="line">Max Score : </li> <li class="line">{{ ma }}</li></li>#}
{#                                        <li><li class="line">Projected Score : </li> <li class="line">{{ ps }}</li></li>#}
{#                                        <li><li class="line">Projected Grade : </li> <li class="line">{{ pg }}</li></li>#}
{##}
{#                                    </ul>#}
{#                                </div>#}
                                <div class="course-detail">
                                    <a href="/student/{{ profile_id }}/course/{{ course.course_id }}" class="btn-system btn-small">Details</a>
                                </div>
                            </div>
                        </div>


                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}