<form action="{% url "add_bulk_scores" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="add_bulk_scores_popup" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div id="dd" class="wrapper-dropdown-2">Select the Evaluation
                    
                    <ul class="dropdown">
                      <li><a href="#">{{eval}}</a></li>
                    </ul>
                </div>
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add Scores CSV file</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                        <input type="file" name="scores_csv_file" accept="text/csv" id="scores_csv_file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>
</form>