
{% extends "common/base.html" %}

{% block head_css  %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>

<script>
    $(document).ready(function() {
        var ctx = $("#chart-line");
        var myLineChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [{%for data in grades%}'{{data}}',{%endfor%}],
                datasets: [{
                    data: [{%for cnt in numbers%}{{cnt}},{%endfor%}],
                    backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)", "rgba(200, 50, 255, 0.5)", "rgba(0, 100, 255, 0.5)", "rgba(0, 100, 255, 0.5)", "rgba(0, 100, 255, 0.5)"],
                }],
            },
            options: {
                title: {
                    display: true,
                    text: 'Grades'
                }
            }
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="../../static/css/professor/home.css"/>
{% endblock %}

{% block nav_links %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/professor/course/{{ course_id }}/students">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/professor/course/{{ course_id }}/evaluations">Evaluations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
    </li>
{% endblock %}

{% block content %}
        <div class = "dash-title"><h4>Course Metrics</h4></div>
        <div class = "container">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                <div class = "row">
                    <div class = "col">
    
                    </div>

                <thead>
                <th>Mean</th>
                <th>Max Score</th>
                <th>Min Score</th>
                </thead>
                <div class = "row">
                    <div class = "col">
    
                    </div>

                <tbody>
                    
                    <tr>
                        <td>{{score__avg}}</td>
                        <td>{{score__max}}</td>
                        <td>{{score__min}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class = "dash-title"><h4>Top Students</h4></div>
        <div class = "container">
                <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                    <div class = "row">
                        <div class = "col">
        
                        </div>
                    <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Score</th>
                    </thead>
                    
                    <div class = "col">
                
                    </div>

                    <tbody>
                    {% for student in top_students %}
                        <tr>
                            <td>{{ student.profile__first_name  }}</td>
                            <td>{{ student.profile__email }}</td>
                            <td>{{ student.score }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </div>
                </table>
            </div>
            <div class = "dash-title"><h4>Bottom Students</h4></div>
            <div class = "container">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                <div class = "row">
                    <div class = "col">
    
                    </div>
                    
                
            <!-- <div class="table-responsive-sm"> -->
               
                    <thead>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Score</th>
                    </thead>
                    <div class = "col">
                
                    </div>
                 
            
                
                    <tbody>

                    {% for student in bottom_students %}
                        <tr>
                            <td>{{ student.profile__first_name  }}</td>
                            <td>{{ student.profile__email }}</td>
                            <td>{{ student.score }}</td>
                        </tr>
                    {% endfor %}
                
                    </tbody>
                </div>
                </table>

        </div>

        <div class = "dash-title"><h4>Grade Distribution</h4></div>
            <div class = "container">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <div class = "row">
                <div class = "col">

                </div>
                    
                
            <!-- <div class="table-responsive-sm"> -->
               
                    <thead>
                    <th>Grades</th>
                    <th>Count</th>
                    </thead>
                    
                    <div class = "col">
                
                    </div>
                 
            </div>
                
                    <tbody>

                    {% for grade in grade_distribution %}
                        <tr>
                            <td>{{ grade.grade}}</td>
                            <td>{{ grade.count  }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

        </div>

        

    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row">
                <div class="container-fluid d-flex justify-content-center">
                    <div class="col-sm-6 col-md-6">
                        <div class="card">
                            
                            <div class="card-body" style="height: 500px">
                                <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                        <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                    </div>
                                </div> <canvas id="chart-line" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

