{% extends 'common/base.html' %}
{% block nav_links %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/courses">Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/profiles">Profiles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
    </li>
{% endblock %}


{% block content %}
    <div style="padding: 20px;" class="col-md-12">
        <button href="{% url 'add_course' %}" id="add_course_btn" type="button" class="btn btn-primary">
            Add Course
        </button>
        <div id="course_div"></div>
        <br>
        <div class="table-responsive">
            <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
                <thead>
                <th>ID</th>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Department</th>
                <th>Year</th>
                <th>Semester</th>
                <th>Credits</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Enroll</th>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.course_code }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.department }}</td>
                        <td>{{ course.year }}</td>
                        <td>{{ course.semester }}</td>
                        <td>{{ course.credits }}</td>
                        <td><a id="update_course_btn" href="/admin/courses/update/{{ course.id }}" class="btn btn-primary"><i class="bi bi-pencil"></i></a></td>
                        <td><a href="/admin/courses/delete/{{ course.id }}" class="btn btn-danger"><i class="bi bi-trash3"></i></a></td>
                        <td><a id="enroll_profiles_btn" href="/admin/courses/enroll/{{ course.id }}" class="btn btn-primary"><i class="bi bi-person-plus"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}