{% extends 'common/base.html' %}
{% block head_css %}
    <link rel="stylesheet" type="text/css" href="../../static/css/common/home.css"/>
{% endblock %}
{% block nav_links %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/courses">Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/profiles">Profiles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/accounts/logout">Logout</a>
    </li>
{% endblock %}

{% block content %}
    <form>
        <h3>HOWDY ADMIN</h3>
    </form>
{% endblock %}

