@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--c-gray-900: #000000;
	--c-gray-800: #2e2e2e;
	--c-gray-700: #2e2e2e;
	--c-gray-600: #313131;
	--c-gray-500: #969593;
	--c-gray-400: #a6a6a6;
	--c-gray-300: #bdbbb7;
	--c-gray-200: #f1f1f1;
	--c-gray-100: #ffffff;

	--c-green-500: #45ffbc;
	--c-olive-500: #e3ffa8;

	--c-white: var(--c-gray-100);

	--c-text-primary: var(--c-gray-100);
	--c-text-secondary: var(--c-gray-200);
	--c-text-tertiary: var(--c-gray-500);
}

a {
	color: inherit;
}


.responsive-wrapper {
	width: 90%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

.indi-course-dash {
	min-height: 100vh;
	height: 100%;
	width: 100%;
	max-width: 1600px;
	background-color: var(--c-gray-800);
	padding: 2vw 4vw 6vw;
	display: flex;
	flex-direction: column;
}

.indi-course-dash-body {
	height: 100%;
	display: grid;
	grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
			min-content,
			400px
		);

	column-gap: 4rem;
	padding-top: 2.5rem;
}

.tiles {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;

}

.tile {
	padding: 1rem;
	border-radius: 8px;
	background-color: var(--c-olive-500);
	color: var(--c-gray-900);
	min-height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;
	text-align: center;
}
.tile:hover {
		transform: translateY(-5px);
	}

.tile:focus-within {
		box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
	}

.tile:nth-child(2) {
	 background-color: var(--c-green-500);
 }
.tile:nth-child(2):focus-within {
	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);
}

.tile:nth-child(3) {
	 background-color: var(--c-gray-300);
 }
.tile:nth-child(3):focus-within {
	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);
}

/* /* .tile:nth-child(4) {
	 background-color: var(--c-olive-500);
 }
.tile:nth-child(4):focus-within {
	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);
}

.tile:nth-child(5) {
	 background-color: #fecee9;
 } 
.tile:nth-child(5):focus-within {
	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px #fecee9;
} */



.tile-header {
	display: flex;
	align-items: center;
}


.tile-header h3 {
	display: flex;
	flex-direction: column;
	line-height: 1.375;
	margin-left: 0.5rem;
	text-align: center;
}
.tile-header h3 span:first-child {
	font-size: 0.825em;
	font-weight: 200;
	text-align: center;
}

.tile-header h3 span:last-child {
	text-align: center;
	font-weight: 600;
	font-size: 50px;
}



.service-section h2 {
		font-size: 1.5rem;
		margin-bottom: 1.25rem;
		color: #ffffff;
	text-align: center;
}


.service-section-footer {
	color: var(--c-text-tertiary);
	margin-top: 1rem;
}


.transfer-section {
	margin-top: 3.5rem;
}

.transfer-section-header {
	display: flex;
	/*align-items: center;*/
	text-align: center;
	width: 100%;
	padding-left: 30px;
	/*padding-bottom: 0.75rem;*/
	border-bottom: 2px solid var(--c-gray-100);
	color: #ffffff;
}

.transfer-grade-header {
	display: flex;
	/*align-items: center;*/
	text-align: center;
	width: 70%;
	padding-left: 30px;
	/*padding-bottom: 0.75rem;*/
	border-bottom: 2px solid var(--c-gray-100);
	color: #ffffff;
}
.transfer-section-header h2 {
	font-size: 25px;
	color: #ffffff;
	text-align: center;
	/*text-transform: uppercase;*/
}

.transfers {
	display: flex;
	flex-direction: column;
	padding-top: 5px;
}

.transfer {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 0.875rem;
	border-bottom: 1px solid var(--c-gray-500);
	padding-top: 5px;

}

.transfer-grade {
	display: flex;
	align-items: center;
	width: 70%;
	font-size: 0.875rem;
	border-bottom: 1px solid var(--c-gray-500);
	padding-top: 5px;
}
.transfer-details-head {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;

}
.transfer-details-head div {
	width: calc(100% / 3 - 1rem);
	color: #bdbbb7;
	font-size: 22px;
	font-weight: lighter;
}

.transfer-grade-head {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;

}
.transfer-grade-head div {
	width: 100%;
	color: #bdbbb7;
	font-size: 22px;
	font-weight: lighter;
}



.transfer-details {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}
.transfer-details div {
	width: calc(100% / 3 - 1rem);
	color: #ffffff;
	font-size: 18px;
}

.transfer-grade-details {
	margin-left: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}
.transfer-grade-details div {
	width: 100%;
	color: #ffffff;
	font-size: 18px;
}


.transfer-details div div {
		margin-left: 1rem;
}

.transfer-details dd {
		color: var(--c-text-tertiary);
		margin-top: 2px;
}


.flex {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

@media (max-width:991.98px) {
	.padding {
		padding: 1.5rem
	}
}

@media (max-width:767.98px) {
	.padding {
		padding: 1rem
	}
}

.padding {
	padding: 5rem
}

.card {
	background: #fff;
	border-width: 0;
	border-radius: .25rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
	margin-bottom: 1.5rem
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(19, 24, 44, .125);
	border-radius: .25rem;
	background-color: var(--c-gray-800);
}

.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(19, 24, 44, .03);
	border-bottom: 1px solid rgba(19, 24, 44, .125)
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
	background-color: white;
	border-color: rgba(160, 175, 185, .15);
	background-clip: padding-box
}


.service-section-thres h2 {
		font-size: 25px;
		margin-bottom: 1.25rem;
		color: #ffffff;
	text-align: left;
	margin-left: 30px;
	padding-top: 50px;
	border-bottom: 2px solid var(--c-gray-100);
}


.tiles-thres {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 1rem;
	row-gap: 1rem;
	margin-top: 1.25rem;

}

.tile-thres {
	padding: 1rem;
	border-radius: 50px;
	background-color: #ffffff;
	color: #000000;
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	transition: 0.25s ease;
	text-align: center;
}
.tile-thres:hover {
	transform: translateY(-5px);
	}
.tile-thres:active{
	background: #45ffbc;
}


/*.tile-thres:nth-child(2) {*/
/*	 background-color: var(--c-green-500);*/
/* }*/
/*.tile-thres:nth-child(2):focus-within {*/
/*	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-green-500);*/
/*}*/

/*.tile-thres:nth-child(3) {*/
/*	 background-color: var(--c-gray-300);*/
/* }*/
/*.tile-thres:nth-child(3):focus-within {*/
/*	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-gray-300);*/
/*}*/

/*.tile-thres:nth-child(4) {*/
/*	 background-color: var(--c-olive-500);*/
/* }*/
/*.tile-thres:nth-child(4):focus-within {*/
/*	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px var(--c-olive-500);*/
/*}*/

/*.tile-thres:nth-child(5) {*/
/*	 background-color: #fecee9;*/
/* }*/
/*.tile-thres:nth-child(5):focus-within {*/
/*	box-shadow: 0 0 0 2px var(--c-gray-800), 0 0 0 4px #fecee9;*/
/*}*/



.tile-thres-header {
	display: flex;
	align-items: center;
}


.tile-thres-header h3 {
	display: flex;
	flex-direction: column;
	line-height: 1.375;
	margin-left: 0.5rem;
	text-align: center;
}
.tile-thres-header h3 span:first-child {
	font-size: 0.825em;
	font-weight: 200;
	text-align: center;
}

.tile-thres-header h3 span:last-child {
	text-align: center;
	font-weight: 600;
	font-size: 50px;
}
