body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;
}
.table-title th{
	font-size: 20px;
	font-weight: 500;
	padding: 20px;
	color: #000;
	letter-spacing: 2px;
	text-align: center;
}
.dash-title h4{
	font-size: 20px;
	font-weight: 500;
	padding: 20px;
	color: #000;
	letter-spacing: 2px;
	text-align: center;
}
.banner{
	height: 100vh;
	width: 100%;
	background:url('../../assets/random.png');
	background-position: top;
	background-size:cover;
	/*background-attachment: fixed;*/
	background-repeat: no-repeat;
}
.banner .navbar{
	margin-top:4%;
}
.banner .navbar-brand{
	color: #fff;
	font-size:1.8em;
	font-weight: 700;
	margin-left: 10%;
}
.banner .nav{
	margin-right:10%; 
}
.banner .nav li a{
	color:#aaa;
	font-size: 1.2em;
}
.banner .info{
	margin-top:15%;
	transform: translateY(-15%);
}
.banner .info h1{
	font-size: 2.5em;
	font-weight: 700;
	color: #fff;
	letter-spacing: 2px;
}
.banner .info p{
	font-size: 2em;
	font-weight: 500;
	color: #aaa;
	letter-spacing: 2px;
}
.banner .info a{
	margin-left:50%;
	transform: translateX(-50%);
	color: #fff;
	background: #e91d43;
	padding:10px 20px; 
	font-size: 2em;
	font-weight: 600;
}
.banner .info a:hover{
	background: #e91e63;
}






.flex {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto
}

@media (max-width:991.98px) {
	.padding {
		padding: 1.5rem
	}
}

@media (max-width:767.98px) {
	.padding {
		padding: 1rem
	}
}

.padding {
	padding: 5rem
}

.card {
	background: #fff;
	border-width: 0;
	border-radius: .25rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
	margin-bottom: 1.5rem
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(19, 24, 44, .125);
	border-radius: .25rem
}

.card-header {
	padding: .75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(19, 24, 44, .03);
	border-bottom: 1px solid rgba(19, 24, 44, .125)
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

card-footer,
.card-header {
	background-color: transparent;
	border-color: rgba(160, 175, 185, .15);
	background-clip: padding-box
}