{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="lIG-dMtX1ORjcaKsgwk4OJqxIAHK-a59GokVw8MUJTw"/>
    <meta charset="UTF-8">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css"/>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <script>
        $(document).ready(function () {
            $('#bootstrapdatatable').DataTable({
                    "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],
                    "iDisplayLength": 10
                }
            );
        });
    </script>
    <script src="{% static 'js/admin/course_form_load_save.js' %}"></script>
    <script src="{% static 'js/admin/profile_form_load_save.js' %}"></script>
    <script src="{% static 'js/professor/evaluation_form_load_save.js' %}"></script>
    <script src="{% static 'js/professor/student_evaluations_form_load_save.js' %}"></script>
    {% block head_css %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">MIRC GradeBook</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% block nav_links %}{% endblock %}
            </ul>
        </div>
    </div>
</nav>
{% if messages %}
    <div class="toast-container top-0 end-0 p-3">
        {% for message in messages %}
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
                <div class="toast-header">
                    <strong class="me-auto">Gradebook</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{ message }}
                </div>
            </div>

        {% endfor %}
    </div>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>