{% load socialaccount %}
<html>
<head>
  <meta charset="UTF-8">
    <title>MIRC login page UI</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/common/home.css" />

</head>
<body>
 {%include 'common/navbar.html' %}
<form>

<h3>Contact Us</h3>
    <br>
    <h4>Application work is still under progress - All feedbacks are welcome at</h4>
<br>
    <br>
<h4>Name: Ashutosh Chauhan</h4>
    <h4>Email: ashutosh@tamu.edu</h4>


    </form>
</body>
</html>