{% extends 'common/base.html' %}


 {% block head_css  %}
    <link rel="stylesheet" type="text/css" href="../../static/css/common/home.css"/>
 {% endblock %}

 {% block nav_links  %}
 {% endblock %}



{% block content %}
 <img
    class="demo-bg"
    src="https://wallpaperaccess.com/full/5487854.jpg"
    alt=""
  >
<form>
    <h3>HOWDY !!</h3>
    <button id="google_login" onclick="location.href='/accounts/google/login'" type="button">
        Sign in with Google
    </button>
</form>
{% endblock %}