{% load socialaccount %}
<html>
<head>
  <meta charset="UTF-8">
  <title>MIRC Gradebook</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="style.css">
</head>
<body>
<h1>MIRC Gradebook</h1>
{% if user.is_authenticated %}
    <p>Welcome, You are logged in as {{ user.email }}</p>
    <div class="action">
      <button>Sign In with Google</button>
      <button>Sign in</button>
    </div>
    <a id="logout" href="/accounts/logout" class="button">Logout</a>
{% else %}
    <a id="google_login" href="/accounts/google/login" class="btn btn-success">
        Sign in with Google
      </a>
{% endif %}
</body>
</html>